@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap');
@font-face {
    font-family: get_schwifty;
    src: url(get_schwifty.ttf);
}

:root {
   --green: #2e8934;
   --blue: #13acc8;
   --yellow: #d1d850;
}
  
h1,h2,h3,h4,h5,h6 {
    font-family: get_schwifty;
    margin: 1rem 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
}

b {
    font-weight: 600;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    background-color: var(--green);
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--blue);
    text-shadow: 1px 1px 0 var(--yellow);
    font-weight: 600;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.heading {
    padding: 2rem;
    background: rgb(245,245,245);
}

.page-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.characterList-container {
    padding: 1rem;
    border: solid grey 1px;
}

.characterDetails-container {
    padding: 1rem;
    border: solid grey 1px;
}

.character-infoSection {
    padding: 1rem;
    border: solid grey 1px;
}

.characters-list {
    list-style: none;
    width: 380px;
    height: 80vh;
    overflow-y: auto;
}

.characterList-img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}

.characterList-item {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.characterList-item:hover {
    transform: scale(1.05);
}

.characterList-item span {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
}

.characterDetails-container {
    width: 100%;
}

footer {
    padding: 1rem;
    background: rgb(245,245,245);
}